.page-about {
  flex: 1;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;   
  text-align: center;
  min-height: 100vh;          
  display: flex;
  flex-direction: column;
  justify-content: center;    
  align-items: center;        
  overflow-y: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;         
}
.page-about h1{
  margin-bottom: 30px;
  font-size: 50px;
}
.page-about p{
  font-size: 1.4rem;
  text-align: center;
  margin-bottom: 35px;
}
.about-title {
  font-size: 2.5rem;
  color: #1a237e;
  margin-bottom: 20px;
}

.about-desc {
  font-size: 1.2rem;
  color: #444;
  max-width: 800px;
  margin: 0 auto 50px;
  line-height: 1.8;
  text-align: justify;
}

/* --- Member Layout --- */
.member-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

/* --- Card Style --- */
.member-card {
  padding-top: 20px;
  width: 490px;
  height: 650px;
  background: #fcff3909;
  border-radius: 20px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
  cursor: pointer;
}

.member-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(241, 60, 5, 0.473), 0 0 40px rgba(241, 60, 5, 0.473);
}

/* --- Image Box --- */
.member-img-box {
  width: 100%;
  height: 490px;
  overflow: hidden;
  border-radius: 16px;
  padding-top: 6px;
}

.member-img {
  margin-bottom: 10px;
  width: 400px;
  height: 480px;
  object-fit: cover;
  transition: all 0.4s ease;
}

.member-card:hover .member-img {
  transform: scale(1.05);
  filter: brightness(1.1);
}

.member-name {
  margin-top: 11px;
  font-size: 1.95rem;
  color: #0078d7;
  font-weight: 600;
  text-align: center;
}

.member-icons {
  padding-top:0px;
  display: flex;
  justify-content: center;
  gap: 25px;
  margin: 16px 0 20px 0;
}

.icon {
  font-size: 27px;
  transition: transform 0.2s ease, color 0.3s ease;
}

/* เอฟเฟกต์ตอน hover ไอคอน */
.icon:hover {
  transform: scale(1.5);
}

/* เอฟเฟกต์ตอนคลิก (active) */
.icon:active {
  transform: scale(1.6);
}
.icon.github {
  color: #000;
}
.icon.github:hover {
  color: #000;
}
.role{
  text-align: center;
  margin-top: -3px;
  font-size:22px;
  color: rgba(22, 6, 240, 0.671);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

@media (max-width: 768px) {
  .about-title{
    margin-top:160px;
  }
  
}
@media (min-width:500px) and (max-width:640px) {
  .member-card{
    width:440px;
    height:600px;
  }
  .member-img-box{
    height:400px;
  }
  .member-img{
    width:350px;
    height:420px;
    margin-top:20px;
  }
  .member-name{
    font-size:32px;
  }
  .icon{
    font-size:35px;
  }
  .role{
    font-size:30px;
  }
  .page-about p{
    font-size:1.6rem;
    line-height: 1.3;        
    max-width: 80%;         
    text-align: start;
    margin-left: auto;
    margin-right: auto;     
    word-break: break-word;  
  }
}
@media (min-width:641px) and (max-width:767px) {
  .member-card{
    width:540px;
    height:730px;
  }
  .member-img-box{
    height:530px;
  }
  .member-img{
    width:450px;
    height:500px;
    margin-top:30px;
  }
  .member-name{
    font-size:35px;
  }
  .icon{
    font-size:40px;
  }
  .role{
    font-size:30px;
  }
  .page-about p{
    font-size:1.9rem;
    line-height: 1.3;        
    max-width: 80%;         
    text-align:start;
    margin-left: auto;
    margin-right: auto;     
    word-break: break-word;  
  }
}
@media (min-width: 1440px) {
  .about-title{
    margin-top:80px;
  }
}

@media (min-width: 1920px) {
  .about-title{
    margin-top:90px;
  }
  .page-about h1{
    font-size: 90px;
  }
  .page-about p{
    font-size:3rem;
    line-height: 1.3;        
    max-width: 80%;         
    text-align: start;
    margin-left: auto;
    margin-right: auto;     
    word-break: break-word;  
  }
  .member-card{
    width:800px;
    height:1010px;
  }
  .member-img-box{
    height:750px;
  }
  .member-img{
    width:650px;
    height:700px;
    margin-top:40px;
  }
  .member-name{
    font-size:50px;
  }
  .icon{
    font-size:55px;
  }
  .role{
    font-size:40px;
  }
  .member-container {
    gap:50px;
  }
}

@media (min-width:4600px) and (max-width:5600px) {
  .page-about{
    margin-top:150px;
  }
  .page-about h1{
    font-size:15rem;
    margin-bottom:100px;
  }
  .page-about p{
    font-size:10rem;
    line-height: 1.3;        
    max-width: 80%;         
    text-align: start;
    margin-left: auto;
    margin-right: auto;     
    word-break: break-word;  
  }
  .member-card{
    width:2000px;
    height:2480px;
  }
  .member-img-box{
    height:1900px;
  }
  .member-img{
    width:1600px;
    height:1700px;
    margin-top:150px;
  }
  .member-name{
    font-size:120px;
  }
  .icon{
    font-size:120px;
  }
  .role{
    font-size:100px;
  }
  .member-container {
    gap: 100px;
  }
}

@media (min-width:5601px) and (max-width:7000px) {
  .page-about{
    margin-top:200px;
    margin-bottom: 200px;
  }
  .page-about h1{
    font-size:15rem;
    margin-bottom:100px;
  }
  .page-about p{
    font-size:10.2rem;
    line-height: 1.3;        
    max-width: 50%;         
    text-align:center;
    margin-left: auto;
    margin-right: auto;     
    word-break: break-word;  
  }
  .member-card{
    width:2400px;
    height:2900px;
  }
  .member-img-box{
    height:2250px;
  }
  .member-img{
    width:1900px;
    height:2000px;
    margin-top:180px;
  }
  .member-name{
    font-size:140px;
  }
  .icon{
    font-size:130px;
  }
  .role{
    font-size:120px;
  }
  .member-container {
    gap: 150px;
  }
}