.logo-container {
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: start;
}

.logo {
  font-family: "Poppins", "Prompt", sans-serif;
  font-weight: 400;
  font-size: 40px;
  letter-spacing: -2px;
  margin: 0;
  left: 20px;
}

/* ส่วน Learning */
.learning {
  color: #f6c400; /* เหลืองสด */
}

/* ส่วน PYTHON */
.python {
  color: #1a3dad; /* น้ำเงินเข้ม */
  margin-left: 8px;
  font-weight: 800;
}

/* ไอคอน smile ใต้ตัว L */
.smile {
  display: inline-block;
  transform: rotate(180deg) scale(1.3);
  color: #f6c400;
  margin: 0 5px;
  position: relative;
  top: 8px;
}
