.page-startLearning {         
  text-align: center;
  min-height: 100vh;          
  display: flex;
  flex-direction: column;
  justify-content: center;    
  align-items: center;        
  overflow-y: auto;           
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 90px;
  margin-bottom: 14px;
}

.sidebar-header h6 {
  font-size: 27px;
  color: #222;
  margin: 0px;
}

.toggle-sidebar-btn-fixed {
  position: fixed;
  top: 105px;
  left: 275px; /* ติดขอบขวาของ sidebar */
  z-index: 999;
  background-color: #f8f8f8;
  border: none;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.toggle-sidebar-btn-fixed:hover {
  background-color: #e0e0e0;
  transform: scale(1.1);
}

/* ตอน sidebar ปิดให้ขยับปุ่มมาทางซ้าย */
.sidebar-closed .toggle-sidebar-btn-fixed {
  left: 60px;
}

/* Sidebar ปกติ */
.sidebar {
  width: 230px;
  background-color: #ebeaea;
  border-right: 1px solid #ddd;
  padding: 20px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  transition: all 0.3s ease;
}

/* Sidebar เมื่อยุบ */
.sidebar.collapsed {
  width: 70px;
  transition: all 0.3s ease;
  overflow: hidden;
}

.sidebar.collapsed h6 {
  display: none;
}

.sidebar.collapsed ul {
  opacity: 0;
  pointer-events: none;
  
}

/* พื้นที่ content */
.content {
  flex: 1;
  padding: 100px 40px 20px 40px;
  margin-left: 280px;
  transition: margin-left 0.3s ease;
}

/* เมื่อ sidebar ถูกยุบให้ content ขยาย */
.sidebar-closed .content {
  margin-left: 100px;
}
.sidebar-closed .page-content{
  width: 1100px;
  margin-right: -30px;
}

.sidebar::-webkit-scrollbar {
  width: 8px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-bottom: 40px;
  text-align: start;
  flex-direction: column;
  display: flex;

}
.btn-sidebar{
    color: black;
    text-decoration: double;
    font-size: 20px;
}
.btn-sidebar {
  margin: 3px;
  padding: 8px 5px;
  border-radius: 4px;
  cursor: pointer;
  color: #333;
  background-color: #f0f0f0;
  transition: background-color 0.2s;
}

.btn-sidebar:hover {
  background-color: #e0e0e0;
}
.btn-sidebar.active{
    background-color: #b8b6b6;
    color: #1a1818;
}

.page-content {
  width: 950px;
  margin: 40px auto;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  line-height: 1.8;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}
.page-content h1{
    font-size: 35px;
    background-color: aquamarine;
    padding: 5px 10px;
    border-radius: 15px;
}
hr {
  border: none;
  border-top: 2px solid #e2e8f0;
  margin: 25px 0;
}
h2 {
  color: #1a202c;
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 10px;
  position: relative; /* ต้องใช้สำหรับ pseudo-element */
  padding: 0 20px; /* เว้นที่ให้สามเหลี่ยมอยู่ */
}
h2::before,
h2::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
}
/* ด้านซ้าย ชี้เข้ากลาง */
h2::before {
  left: 0;
  border-width: 15px 0 15px 10px; /* สูง, 0, สูง, กว้าง */
  border-color: transparent transparent transparent #2b6cb0;
}

/* ด้านขวา ชี้เข้ากลาง */
h2::after {
  right: 0;
  border-width: 15px 10px 15px 0; /* สูง, กว้าง, สูง, 0 */
  border-color: transparent #2b6cb0 transparent transparent;
}
 h3 {
  color: #2d3748;
  font-size: 1.2rem;
  margin-top: 15px;
  margin-bottom: 8px;
  text-align: start;
}
p {
  margin: 6px 0;
  font-size: 1rem;
  text-align: start;
}
img {
  display: block;
  margin: 15px auto;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
p::before {
  content: "";
}

.operator-symbol {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 0 8px;
  margin: 0 2px;
  border-radius: 10px;
  font-family: "Courier New", monospace;
  font-weight:bold;
  color: #333;
  display: inline-block;
}

/* ====================== มือถือทั่วไป====================== */
@media (min-width:500px) and (max-width:640px) {
  .sidebar {
    position: fixed;
    top:130px;
    left: -135px; 
    width:200px;
    height: calc(100vh - 170px);
    padding:30px;
    overflow-y: auto;
    background-color: #ebeaea;
    border-right: 1px solid #ddd;
    z-index: 200;
    transition: left 0.3s ease;
  }
   /* แสดง sidebar เมื่อเปิด */
  .sidebar-open .sidebar {
  left: 0;
  }
  .toggle-sidebar-btn-fixed {
    top:240px;
    left:150px;
    width:40px;
    height:40px;
  }
  .content {
    margin: 180px 10px 20px 10px;
    transition: filter 0.3s ease;
  }
  .sidebar-open .content {
    filter: blur(1px);
  }
  .page-content {
    font-size: 0.9rem;
  }

  .page-content h1 {
    font-size: 1.3rem;
  }

  .page-content h2 {
    font-size: 1.1rem;
  }
  .page-content h3 {
    font-size: 0.85rem;
  }
  .page-content p {
    font-size: 0.65rem;
  }
  img{
    width:150px;
  }
  .btn-sidebar {
    font-size:1.2rem;
    padding:5px 10px;
  }
  .page-content {
    width: auto;
    margin: 20px auto;
    padding: 20px;
    font-size: 0.9rem;
  }
  .sidebar-closed .content {
    margin-left:0px;
  }
  .sidebar-closed .page-content{
    width:445px;
    margin-left:-20px;
  }
  .sidebar-closed .toggle-sidebar-btn-fixed {
  left:4px;
  }
  .sidebar-open .toggle-sidebar-btn-fixed {
  left:270px;
  }
  .sidebar-open::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 150;
  }
  .sidebar h6{
    font-size:30px;
  }
}

@media (min-width:641px) and (max-width: 768px) {
   .sidebar {
    position: fixed;
    top:130px;
    left: -135px; 
    width:200px;
    height: calc(100vh - 170px);
    padding:30px;
    overflow-y: auto;
    background-color: #ebeaea;
    border-right: 1px solid #ddd;
    z-index: 200;
    transition: left 0.3s ease;
  }
   /* แสดง sidebar เมื่อเปิด */
  .sidebar-open .sidebar {
  left: 0;
  }
  .toggle-sidebar-btn-fixed {
    top:240px;
    left:150px;
    width:45px;
    height:45px;
  }
  .content {
    margin: 180px 10px 20px 10px;
    transition: filter 0.3s ease;
  }
  .sidebar-open .content {
    filter: blur(1px);
  }
  .page-content {
    font-size: 0.9rem;
  }

  .page-content h1 {
    font-size: 1.3rem;
  }

  .page-content h2 {
    font-size: 1.1rem;
  }
  .page-content h3 {
    font-size: 0.85rem;
  }
  .page-content p {
    font-size: 0.65rem;
  }
  img{
    width:150px;
  }
  .btn-sidebar {
    font-size:1.2rem;
    padding:5px 10px;
  }
  .page-content {
    width: auto;
    margin: 20px auto;
    padding: 20px;
    font-size: 0.9rem;
  }
  .sidebar-closed .content {
    margin-left:0px;
  }
  .sidebar-closed .page-content{
    width:550px;
    margin-left:-20px;
  }
  .sidebar-closed .toggle-sidebar-btn-fixed {
  left:4px;
  }
  .sidebar-open .toggle-sidebar-btn-fixed {
  left:270px;
  }
  .sidebar-open::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 150;
  }
  .sidebar h6{
    font-size:30px;
  }

}
/* ====================== แท็บเล็ต (769px–1023px) ====================== */
@media (min-width: 769px) and (max-width: 1023px) {
  .sidebar {
    width: 175px;
    z-index: 100;
  }
  .sidebar-closed .content {
  margin-left: 0px;
  }
  .sidebar-closed .page-content{
    width:580px;
    margin-right:-110px;
  }

  .toggle-sidebar-btn-fixed {
    left: 222px;
    top: 105px;
    width: 40px;
    height: 40px
  }
  .sidebar-closed .toggle-sidebar-btn-fixed {
    left:65px;
  }
  .content {
    margin-left: 220px;
    padding: 30px;
    margin-top: 80px;
  }

  .page-content {
    width: 85%;
    font-size: 1rem;
  }
}

@media (width: 1024px) {
  .sidebar {
    width: 175px;
    z-index: 100;
  }
  .sidebar-closed .content {
  margin-left: 0px;
  }
  .sidebar-closed .page-content{
    width:750px;
    margin-right:-110px;
  }

  .toggle-sidebar-btn-fixed {
    left:221px;
    top: 105px;
    width:60px;
    height:60px
  }
  .sidebar-closed .toggle-sidebar-btn-fixed {
  left:47px;
  }
  .content {
    margin-left: 220px;
    padding: 30px;
    margin-top: 80px;
  }

  .page-content {
    width: 85%;
    font-size: 1rem;
  }
}
/* ====================== โน้ตบุ๊ก / เดสก์ท็อปกลาง (1025px–1439px) ====================== */
@media (min-width: 1025px) and (max-width: 1439px) {
  .sidebar {
    width: 230px;
  }
  .sidebar-closed .content {
    margin-left:-150px;
  }
  .sidebar-closed .page-content{
    width:1000px;
    margin-right:-110px;
  }
  .content {
    margin-left: 280px;
    width:1100px;
  }

  .page-content {
    width: 80%;
  }
}

/* ====================== เดสก์ท็อปใหญ่ (≥1440px) ====================== */
@media (min-width: 1440px) {
  .sidebar{
    position: fixed;
    overflow-y: auto;
    top:40px;
    height: calc(100vh - 40px);
    width: 200px;
  }
  .sidebar-closed .content {
    margin-left:-150px;
  }
  .sidebar-closed .page-content{
    width:1200px;
    margin-right:-255px;
  }
  .page-content {
    width: 999px;
  }

  .content {
    margin-top: 20px;
    margin-left: 235px;
  }

  .toggle-sidebar-btn-fixed {
    left: 245px;
    top:125px;
  }
}

@media (width:1920px) {
  .sidebar{
    position: fixed;
    overflow-y: auto;
    top:40px;
    height: calc(100vh - 60px);
    width: 300px;
  }
  .sidebar-closed .content {
    margin-left:-200px;
  }
  .sidebar-closed .page-content{
    width:1600px;
    margin-right:-210px;
  }
  .page-content {
    width:1400px;
    margin-left: 110px;
  }

  .content {
    margin-top: 20px;
    margin-left: 235px;
  }

  .toggle-sidebar-btn-fixed {
    left: 285px;
    top:125px;
  }
}

@media (min-width:4600px) and (max-width:5600px) {
  .sidebar{
    position: fixed;
    overflow-y: auto;
    top:140px;
    padding: 70px;
    height: calc(100vh - 280px);
    width:800px;
    z-index: 100;
  }
  .sidebar-closed .content {
    margin-left:-200px;
  }
  .sidebar-closed .page-content{
    width:4200px;
    margin-right:250px;
  }
  .page-content {
    width:3400px;
    margin-left:640px;
  }
  .page-content {
    font-size:4rem;
  }
  .page-content h1 {
    font-size:10rem;
  }

  .page-content h2 {
    font-size:8rem;
  }
  .page-content h3 {
    font-size:7rem;
  }
  .page-content p {
    font-size:6rem;
  }
  img{
    width:30%;
  }
  .content {
    margin-top:300px;
    margin-bottom: 50px;
    margin-left: 235px;
  }
  .toggle-sidebar-btn-fixed {
    left:750px;
    top:240px;
    width:170px;
    height:170px;
  }
  .btn-sidebar {
    font-size:5rem;
    padding:20px 40px;
  }
  .sidebar-closed .toggle-sidebar-btn-fixed {
    left:20px;
  }
  .sidebar-header h6{
    font-size: 100px;
  }
  h2::before {
  left: 0;
  border-width: 55px 0 55px 35px; /* สูง, 0, สูง, กว้าง */
  border-color: transparent transparent transparent #2b6cb0;
  }
  h2::after {
    right: 0;
    border-width: 55px 35px 55px 0; /* สูง, กว้าง, สูง, 0 */
    border-color: transparent #2b6cb0 transparent transparent;
  }
}

@media (min-width:5601px) and (max-width:7000px) {
  .sidebar{
    position: fixed;
    overflow-y: auto;
    top:120px;
    padding:100px;
    height: calc(100vh - 300px);
    width:1000px;
    z-index: 100;
  }
  .sidebar-closed .content {
    margin-left:-200px;
  }
  .sidebar-closed .page-content{
    width:5200px;
    margin-right:450px;
  }
  .page-content {
    width:4300px;
    margin-left:950px;
  }
  .page-content {
    font-size:4rem;
  }
  .page-content h1 {
    font-size:10rem;
  }

  .page-content h2 {
    font-size:8rem;
  }
  .page-content h3 {
    font-size:7rem;
  }
  .page-content p {
    font-size:6rem;
  }
  img{
    width:30%;
  }
  .content {
    margin-top:330px;
    margin-bottom: 50px;
    margin-left: 235px;
  }
  .toggle-sidebar-btn-fixed {
    left:1000px;
    top:300px;
    width:180px;
    height:180px;
  }
  .btn-sidebar {
    font-size:5rem;
    padding:45px 60px;
  }
  .sidebar-closed .toggle-sidebar-btn-fixed {
    left:50px;
  }
  .sidebar-header h6{
    font-size: 120px;
  }
  h2::before {
  left: 0;
  border-width: 55px 0 55px 35px; /* สูง, 0, สูง, กว้าง */
  border-color: transparent transparent transparent #2b6cb0;
  }
  h2::after {
    right: 0;
    border-width: 55px 35px 55px 0; /* สูง, กว้าง, สูง, 0 */
    border-color: transparent #2b6cb0 transparent transparent;
  }
}